.Component{
    height: 70vh;
    width: 90vh;
}

.image{
    position: absolute;
    left:0;
    background: #2874f0
        url(https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/login_img_c4a81e.png)
        center 85% no-repeat;
      height: 100%;
      width: 40%;
      padding: 45px 35px;
}

.wrapper{
    height: 100%;
    width: 60%;
    position: absolute;
    right: 0;
    display: flex; 
    flex-direction: column; 
    flex: 1 ;
    padding: 25px 35px;
    
}

.wrapper input{
    margin-top: 20px;
}
.wrapper button p{
    margin-top: 20px ;
}


.LoginBtn{
    text-transform: none;
   
    color: white;
    border: none;
    border-radius: 3px;
    height: 48px;
    padding: 1rem;
    background-color: #FB641B;
    width: 100%;
}

.RequestOtpBtn{
    text-transform: none;
    background: #fff;
    height: 48px;
    border: none;
    color: #2874f0;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 /20%);
    width: 100%;
}

.error{
    font-size: 10px;
    color: #ff6161;
    line-height: 0;
    font-weight: 600;
    margin-top: 10px;
}